<header class="header">
    <div class="inner-wrap">
        <div class="logo-wrap">
            <a class="logo">
                <img src="images/logo.svg" alt="">
            </a>
        </div>
        <div class="contacts-outer-wrap">
            <div class="contacts-wrap">
                <div class="cnt-wrap">
                    <div class="elm-ico">
                        <img src="images/location.svg" alt="">
                    </div>
                    Москва, Юрловский проезд, 2с1
                </div>
                <div class="cnt-wrap">
                    <div class="elm-ico">
                        <img src="images/email.svg" alt="">
                    </div>
                    <a href="mailto:sales@talos-case.ru">sales@talos-case.ru</a>
                </div>
            </div>
            <div class="contacts-soc-wrap">
                <div class="phone-wrap">
                    <div class="phone-number">
                        <a href="tel:84950858566" class="link-phone">+7 495 085-85-66</a>
                    </div>
                    <div class="shedule-info">пн-пт: с 9:00 до 18:00</div>
                    <div class="email-mobile"><a href="mailto:sales@talos-case.ru">sales@talos-case.ru</a></div>
                </div>
                <div class="soc-wrap">
                    <a href="https://wa.me/+79688930344 " target="_blank" class="btn-action-ico button-soc">
                        <img src="images/soc-wa.svg" alt=""> </a>
                    <a href="tg://resolve?domain=taloscase" target="_blank" class="btn-action-ico button-soc">
                        <img src="images/soc-tg.svg" alt=""> </a>
                </div>
            </div>
        </div>
        <div class="actions-wrap">
            <div class="action-wrap">
                <a href="/catalog/zashchitnye-germetichnye-kejsy/" class="btn button-header __js-popup-open"
                    data-popup="popup-catalog-search">Каталог продукции</a>
            </div>
            <div class="action-wrap">
                <a href="" class="btn button-header js-popup-open" data-popup="popup-order">Оставить заявку</a>
            </div>
        </div>

        <div class="search-wrap popup-search-wrap js-popup-wrap">
            <a href="" class="btn-popup btn-action-ico ico-search js-btn-popup-toggle js-popup-open"
                data-popup="popup-catalog-search"></a>
            <div class="popup-content-block js-popup-block" id="title-search">
                <a href="" class="btn-popup-close btn-action-ico ico-close js-btn-popup-close"></a>
                <form action="/catalog/zashchitnye-germetichnye-kejsy/" class="frm-main-search">
                    <input id="title-search-input" type="text" name="q" value="" size="40" maxlength="50"
                        autocomplete="off" class="form-input" placeholder="Поиск модели по каталогу (например, Т-210)">
                    <input name="s" class="btn-action-ico ico-search" type="submit" value="Поиск">
                </form>
            </div>
        </div>


        <div class="menu-wrap popup-menu-wrap js-popup-wrap">
            <a href="" class="btn-popup btn-popup-menu js-btn-popup-toggle">
                <span class="btn-action-ico ico-menu"></span>
                <span class="button-title">Меню</span>
            </a>
            <div class="popup-content-block js-popup-block">
                <a href="" class="btn-popup-close btn-action-ico ico-close js-btn-popup-close"></a>
                <div class="menu-inner-wrap">
                    <div class="menu-scroll-wrap">
                        <ul class="menu">
                            <li>
                                <span class="btn-menu">Разделы</span>

                                <ul>

                                    <li><a href="/about/">О компании</a></li>

                                    <li><a href="/proizvodstvo-na-zakaz/">Производство на заказ</a></li>

                                    <li><a href="/publications/">Статьи и новости</a></li>

                                    <li><a href="/contacts/">Контакты</a></li>


                                </ul>
                            </li>
                            <li>
                                <span class="btn-menu">Каталог</span>
                                <ul>
                                    <li class="submenu">
                                        <a href="/catalog/zashchitnye-germetichnye-kejsy/" class="btn-submenu">Защитные
                                            Кейсы</a>
                                        <ul>
                                            <li class="elm-hidden-desktop"><a
                                                    href="/catalog/zashchitnye-germetichnye-kejsy/">Все</a></li>
                                            <li><a
                                                    href="/catalog/zashchitnye-germetichnye-kejsy/filter/dop_seria-is-small/apply/">Малые</a>
                                            </li>
                                            <li><a
                                                    href="/catalog/zashchitnye-germetichnye-kejsy/filter/dop_seria-is-middle/apply/">Средние</a>
                                            </li>
                                            <li><a
                                                    href="/catalog/zashchitnye-germetichnye-kejsy/filter/dop_seria-is-big/apply/">Большие</a>
                                            </li>
                                            <li><a
                                                    href="/catalog/zashchitnye-germetichnye-kejsy/filter/dop_seria-is-long/apply/">Длинные
                                                    оружейные</a></li>
                                        </ul>
                                    </li>
                                    <li class="submenu">
                                        <a href="/catalog/rekovye-keysy/" class="btn-submenu">Рэковые кейсы</a>
                                        <ul>
                                            <li class="elm-hidden-desktop"><a href="/catalog/rekovye-keysy/">Все</a>
                                            </li>
                                            <li><a
                                                    href="/catalog/rekovye-keysy/filter/dop_seria-is-lite/apply/">Лайт</a>
                                            </li>
                                            <li><a
                                                    href="/catalog/rekovye-keysy/filter/dop_seria-is-classic/apply/">Классик</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/catalog/udaroprochnye-kontejnery/" class="btn-submenu">Ударопрочные
                                            Контейнеры</a>
                                    </li>
                                    <li>
                                        <a href="/specification/zashchitnye-germetichnye-kejsy/"
                                            class="btn-submenu">Спецификация</a>
                                    </li>
                                    <li>
                                        <a href="/catalog/transportirovochnye-kofry/"
                                            class="btn-submenu">Транспортировочные кофры</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                        <a href="" class="btn-submenu-back">Назад</a>
                    </div>
                </div>
                <div class="contacts-mobile-wrap">
                    <div class="contacts-wrap">
                        <div class="cnt-wrap">
                            <div class="elm-ico">
                                <img src="images/location.svg" alt="">
                            </div>
                            Москва, Юрловский проезд, 2с1
                        </div>
                        <div class="cnt-wrap">
                            <div class="elm-ico">
                                <img src="images/email.svg" alt="">
                            </div>
                            <a href="mailto:sales@talos-case.ru">sales@talos-case.ru</a>
                        </div>
                    </div>
                    <div class="contacts-soc-wrap">
                        <div class="phone-wrap">
                            <div class="phone-number">
                                <a href="tel:84950858566" class="link-phone">+7 495 085-85-66</a>
                            </div>
                            <div class="shedule-info">пн-пт: с 9:00 до 18:00</div>
                        </div>
                        <div class="soc-wrap">
                            <a href="https://wa.me/+79688930344 " target="_blank" class="btn-action-ico button-soc">
                                <img src="images/soc-wa.svg" alt=""> </a>
                            <a href="tg://resolve?domain=taloscase" target="_blank" class="btn-action-ico button-soc">
                                <img src="images/soc-tg.svg" alt=""> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>