<script src="js/api.js"></script>
<script src="js/core_promise.min.js"></script>
<script src="js/core.min.js"></script>
<script src="js/gtm.js"></script>
<script src="js/init-min.js"></script>
<script src="js/model.min.js"></script>
<script src="js/protobuf.min.js"></script>
<script src="js/pull.client.min.js"></script>
<script src="js/rest.client.min.js"></script>
<script src="js/tag.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/template_86eaf399ac76220f5b91f013b5fdf84f_v1.js"></script>
<script src="js/scripts-new.js"></script>